.container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  max-width: 15rem;
}

.card--light {
  background-color: rgb(132, 250, 121);
}

.card--dark {
  background-color: rgb(255, 64, 64);
}

img {
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
