.container {
  display: flex;
  justify-content: space-evenly;
}

.page--title {
  font-family: "Poller One", cursive;
  text-align: center;
}

.card {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  max-width: 15rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.card--light {
  background-color: rgb(132, 250, 121);
}

.card--dark {
  background-color: rgb(255, 64, 64);
}

.card__img {
  max-width: 100%;
  height: auto;
}

.card__img--dark {
  box-shadow: 8px 8px 3px rgb(0, 0, 0);
}

.card__img--light {
  box-shadow: 10px 10px 6px rgb(255, 253, 115);
}

.card__h2--dark {
  font-family: "Rubik Wet Paint", cursive;
}

.card__h2--light {
  font-family: "Rubik Vinyl", cursive;
}
